@model Dashboard.Models.AddCategory

@{
    Layout = "~/Views/Shared/_Item.cshtml";
}

<body>


    <div class="container">
        <header>Edit Category</header>


        <div class="fields">
            @*<div class="col-md-4 bg-light border boder-primary rounded pl-5 pr-5 pb-5">*@
            <form asp-action="View" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-field">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" autocomplete="off" readonly />
                   
                </div>
                <div class="input-field">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
               
                    <input type="submit" value="Save" class="btn btn-default" />
                    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Category">Delete</button>
                

            </form>

            <a href="Index">
                <span>Back to List</span>
            </a>

            <div class="form-check">
                <a href="~/Home/Index">
                    <span>Dashboard</span>
                </a>
            </div>
        </div>
    </div>


</body>