@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0026ff;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #ffffff;
}
.container form {
    position: relative;
    margin-top: 16px;
    min-height: 49px;
    background-color: #fff;
}
.container header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #ff0000
}
