@model Dashboard.Models.AddItem

@{
    Layout = "~/Views/Shared/_Supplier.cshtml";
}

<head>
    <title>ITEM WINDOW</title>

</head>
<body>
    <div class="container">
        <header>Item Details</header>

        <form action="Add" method="post">



            <div class="form first">
                <div class="details personal">
                    <span class="title">@*Personal Details*@</span>


                    <div class="fields">

                        <div class="input-field">
                            <label asp-for="ItemNameId" >Item Name</label>
                            <input asp-for="ItemNameId" placeholder="Enter Item name" autocomplete="off" required />
                        </div>

                        <div class="input-field">
                            <label asp-for="ItemCodeId" class="control-label">Item Code</label>
                            <input asp-for="ItemCodeId" placeholder="Enter Item Code" class="form-control" autocomplete="off" required />
                        </div>

                        
                        <div class="input-field">
                            @*<button id="openCategoryModal" class="btn btn-primary">+</button>*@
                            <label asp-for="CategoryId">Category</label>
                            <input asp-for="CategoryId" id="categoryInput"  name="Category" placeholder="Select Category" autocomplete="off" required />


                        </div>

                        <div class="input-field">
                            <label asp-for="ManufacturerId">Manufacturer</label>
                            <input asp-for="ManufacturerId" placeholder="Select Manufacturer" autocomplete="off" required />
                        </div>

                        <div class="input-field">
                            <label asp-for="BrandId">Brand</label>
                            <input asp-for="BrandId" placeholder="Select Brand" autocomplete="off" required />

                        </div>

                        <div class="input-field">
                            <label asp-for="GSTId">GST</label>
                            <input type="number" asp-for="GSTId" placeholder="Select GST" autocomplete="off" required />
                        </div>


                    </div>

                </div>

                <div class="details ID">
                    <span class="title">@*Identity Details*@</span>


                    <div class="fields">

                        <div class="input-field">
                            <label asp-for="UnitId">Unit</label>
                            <input asp-for="UnitId" placeholder="Select Unit" autocomplete="off" required />
                        </div>

                        <div class="input-field">
                            <label asp-for="HSNCode">HSN Code</label>
                            <input asp-for="HSNCode" placeholder="Enter HSN code" autocomplete="off" required />
                        </div>


                        <div class="input-field">
                            <label asp-for="BatchId">Batch</label>
                            <input asp-for="BatchId" placeholder="Enter Batch" autocomplete="off" required />

                        </div>

                        <div class="input-field">
                            <label asp-for="MRPId">MRP</label>
                            <input type="number" asp-for="MRPId" placeholder="Enter MRP" autocomplete="off" required />
                        </div>

                        <div class="input-field">
                            <label asp-for="PurchasePriceId">Purchase Prize</label>
                            <input type="number" asp-for="PurchasePriceId" placeholder="Enter Purchaseprize" autocomplete="off" required />

                        </div>

                        <div class="input-field">
                            <label asp-for="LandingCostId">Landing Cost</label>
                            <input type="number" asp-for="LandingCostId" placeholder="Enter Landing cost" autocomplete="off" required />
                        </div>

                        <button class="nextBtn">
                            <span class="btnText">Next</span>
                            <i class="fa fa-arrow-alt-circle-right"></i>
                        </button>

                    </div>


                </div>


            </div>

            <div class="form second">
                <div class="details address">
                    <span class="title">@*Address Details*@</span>


                    <div class="fields">

                        <div class="input-field">
                            <label asp-for="SalePriceId">Sale Price</label>
                            <input type="number" asp-for="SalePriceId" placeholder="Enter Sale prize" autocomplete="off" required />
                        </div>

                        <div class="input-field">
                            <label asp-for="SalesDiscount">Sale Discount</label>
                            <input type="number" asp-for="SalesDiscount" placeholder="Enter Sales discount" autocomplete="off" required />
                        </div>


                        <div class="input-field">
                            <label asp-for="OpeningQuantity">Opening Quantity</label>
                            <input asp-for="OpeningQuantity" placeholder="Enter Opening Quantity" autocomplete="off" required />

                        </div>

                        <div class="input-field">
                            <label asp-for="RackColor">Rack Color</label>
                            <input asp-for="RackColor" placeholder="Enter Rack color" autocomplete="off" required />
                        </div>

                        <div class="input-field">
                            <label asp-for="ColorCode">Color Code</label>
                            <input asp-for="ColorCode" placeholder="Enter color code" autocomplete="off" required />

                        </div>

                        <div class="input-field">
                            <label asp-for="QuantityWarning">Quantity Warning</label>
                            <input asp-for="QuantityWarning" placeholder="Enter quantity warning" autocomplete="off" required />
                        </div>


                    </div>

                </div>

                <div class="details Personal">
                    <span class="title">@*Personal Details*@</span>


                    <div class="fields">

                        <div class="input-field">
                            <label asp-for="IMEnumber">IME number</label>
                            <input asp-for="IMEnumber" placeholder="Enter IME number" autocomplete="off" required />
                        </div>

                        <div class="input-field">
                            <label asp-for="ItemPackedDate" for="">ItemPacked Date</label>
                            <input type="date" asp-for="ItemPackedDate" placeholder="" autocomplete="off" required />
                        </div>


                        <div class="input-field">
                            <label asp-for="ItemExpiryDate">ItemExpiry Date</label>
                            <input type="date"  asp-for="ItemExpiryDate" placeholder="" autocomplete="off" required />

                        </div>

                        <div class="input-field">
                            <label asp-for="ItemManuDate">ItemManufacturer Date</label>
                            <input type="date" asp-for="ItemManuDate" autocomplete="off" placeholder="" required />
                        </div>

                        <div class="input-field">
                            <label asp-for="ItemIssuedDate">ItemIssued Date</label>
                            <input type="date" asp-for="ItemIssuedDate" autocomplete="off" placeholder="" required />

                        </div>

                        <div class="input-field">
                            <label asp-for="Discription"></label>
                            <input asp-for="Discription" placeholder="Enter Discription" autocomplete="off" required />
                        </div>

                    </div>

                    <div class="buttons">
                        <div class="backBtn">
                            <i class="fa fa-arrow-alt-circle-right"></i>
                            <span class="btnText">Back</span>
                        </div>

                        <button class="submit">
                            <span class="submit">Submit</span>
                            <i class="fa fa-arrow-alt-circle-right"></i>
                        </button>
                    </div>



                </div>

            </div>

        </form>

        <a href="~/Home/Index">
            <span>Dashboard</span>
        </a>


    </div>


    <!-- Add Category Modal -->
    
    @*<div id="categoryModalPlaceholder"></div>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        $(document).ready(function () {
            $('#openCategoryModal').click(function () {
                // Make an AJAX request to load the "Add Category" form.
                $.get('/Category/Detail', function (data) {
                    // Inject the response (category form) into the placeholder.
                    $('#categoryModalPlaceholder').html(data);

                    // Show the modal.
                    $('#categoryModal').modal('show');
                });
            });

            // Handle the save button click within the modal and submit the form.
            $('#saveCategory').click(function () {
                // You may want to add client-side validation here before submitting the form.
                $('form').submit();
            });
        });

    </script>*@


</body>
