@{
    Layout = "~/Views/Shared/_Report.cshtml";
}
<div class="table">

    <table id="myTable" class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Po:No</th>
                <th>Invoice No:</th>
                <th>Date</th>
                <th>B2B invoice</th>
                <th>B2C invoice</th>
                <th>A/C type</th>
                <th>Address</th>
                <th>Total</th>
                <th>T.charge</th>
                <th>Gst</th>
                <th>Grand Total</th>
                <th>Currency</th>
                <th>Payment method</th>
                <th>Notes</th>
                <th>Opening Quantity</th>
                <th>Rack color</th>
                <th>Color code</th>
                <th>Quantity warning</th>
                <th>IME number</th>
                <th>Manu.Date</th>
                <th>Packed Date</th>
                <th>Exp.Date</th>
                <th>Issued Date</th>
                <th>Description</th>
                <th> </th>

            </tr>
        </thead>
     </table>
</div>