@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";

}

<head>
    <title>DASHBOARD WINDOW</title>
   
</head>
<body>
    <div class="container">
        <header>Dashboard</header>

        <form action="#">


            <div class="form first">
                <div class="details personal">
                    <span class="title">@*Personal Details*@</span>

                        <div class="fields">

                            <button class="buttons">

                               
                                 <span class="submit">Item</span>
                                @*<i class="fa fa-arrow-alt-circle-right"></i>*@
                            </button>

                            <button class="buttons">
                               
                                
                                   <span class="submit">Purchase</span>
                                
                            </button>


                            <button class="buttons">
                                
                                <span class="submit">Sale</span>
                               

                            </button>

                            <button class="buttons">
                                
                                <span class="submit">Payment</span>
                                
                            </button>

                            <button class="buttons">
                                
                                <span class="submit">Reciept</span>
                                

                            </button>

                            <button class="buttons">
                                <span class="submit">Report</span>
                                
                                
                            </button>

                            <button class="buttons">
                              <span class="submit">Barcode</span>
                              

                            </button>
                       
                        </div>
                </div>
            </div>
        </form>
    </div>
</body>