@{
    Layout = "~/Views/Shared/_Invoice.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>


</head>
<body>
    

    

    <div class="container">
        <header>Salereturn Window</header>

        <form asp-action="Index">

            <div class="form-first">
                <div class="details">
                    <span class=""></span>

                    <div class="fields">

                        <div class="input-field">
                            <label for="Supplier">Supplier</label>

                            
                            <input type="text" placeholder="Supplier">
                            

                        </div>

                        <div class="input-field">
                            <label for="">Po:No</label>
                            <input type="text" placeholder="Enter po no:">

                        </div>

                        <div class="input-field">
                            <label for="">Invoice:No</label>
                            <input type="text" placeholder="Enter invoice no:">

                        </div>

                        <div class="input-field">
                            <label for="">Date</label>
                            <input type="date" placeholder="Enter po no:">

                        </div>

                        <div class="input-field">
                            <label for="">B2B Invoice:No</label>
                            <input type="text" placeholder="Enter invoice no:">

                        </div>
                        <div class="input-field">
                            <label for="">B2C Invoice:No</label>
                            <input type="text" placeholder="Enter invoice no:">

                        </div>
                        <div class="input-field">
                            <label for="">A/C Type:</label>
                            <input type="text" placeholder="Enter invoice no:">

                        </div>

                        <div class="input-fields">
                            <label for="">Address</label>
                            <input type="text" placeholder="Address">

                        </div>


                    </div>
                    @* <div class="figure">
                    <div class="form">
                    <label for="">Date</label>
                    <input type="date" placeholder="Supplier">

                    </div>
                    <div class="form">
                    <label for="">abc</label>
                    <input type="text" placeholder="Supplier">

                    </div>
                    <div class="form">
                    <label for="">bbc</label>
                    <input type="text" placeholder="Supplier">

                    </div>

                    </div>*@

                    <div class="table">


                        <table id="" class="table table-bordered">
                            <thead>
                                <tr>
                                    @*<th scope="col">#</th>*@
                                    <th>ID</th>
                                    <th>Particular</th>
                                    <th>Item.Code</th>
                                    <th>Barcode</th>
                                    <th>Batch:No</th>
                                    <th>MRP</th>
                                    <th>Qty</th>
                                    <th>P.Price</th>
                                    <th>S.Price</th>
                                    <th>Discount</th>
                                    <th>GST</th>
                                    <th>CGST</th>
                                    <th>SGST</th>
                                    <th>Total.amnt</th>
                                    <th>
                                        <button type="button" class="btn btn-sm btn-success" onclick="addDetailRow()">+</button>

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="itemDetailsTable">


                                <tr id="rowId" class="@*d-none*@">
                                    @*<th scope="col">1</th>*@
                                    <td><input style="width:30px;" type="text" name="Id" /></td>
                                    <td style="position: relative; width: 400px; left: 0;">
                                        <select id="itemNamePrefix" onchange="fetchItemDetails('')">
                                            <option value="">Select an Item Name</option>
                                            @foreach (var item in ViewBag.items)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        </select>
                                    </td>
                                    <td><input style="width:90px;" type="text" name="ItemCode" /></td>
                                    <td><input style="width:80px;" type="text" name="Barcode" /></td>
                                    <td><input style="width:70px;" type="text" name="Batch:No" /></td>
                                    <td><input style="width:70px;" type="text" name="MRP" /></td>
                                    <td><input style="width:40px;" type="text" id="qty_${rowCounter}" name="Qty" data-row="${rowCounter}" class="qty-input" /></td>
                                    <td><input style="width:80px;" type="text" name="p.price" /></td>
                                    <td><input style="width:80px;" type="text" id="salePrice_${rowCounter}" name="SalePrice" data-row="${rowCounter}" class="sale-price-input" /></td>
                                    <td><input style="width:60px;" type="text" name="Discount" /></td>
                                    <td><input style="width:60px;" type="text" name="GST" /></td>
                                    <td><input style="width:60px;" type="text" name="CGST" /></td>
                                    <td><input style="width:60px;" type="text" name="SGST" /></td>
                                    <td><input style="width:80px;" type="text" id="amt_${rowCounter}" name="Amt" data-row="${rowCounter}" class="amt-input" readonly /></td>
                                    <td class="NoPrint"><button type="button" class="btn btn-sm btn-danger" onclick="BtnDel(this)">X</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div class="field">

                        <div class="input-group">
                            <label for="">Total</label>
                            <input type="text" id="totalAmountInput" class="form-control text-end">
                        </div>
                        <div class="input-group">
                            <label for="">T.Charge</label>
                            <input type="number" class="form-control text-end" id="FGST" name="FGST" onchange="GetTotal()">
                        </div>
                        <div class="input-group">
                            <label for="">GST</label>
                            <input type="number" class="form-control text-end" id="FGST" name="FGST" onchange="GetTotal()">
                        </div>
                        <div class="input-group">
                            <label for="">Grand Total</label>
                            <input type="number" class="form-control text-end" id="FNet" name="FNet" disabled="">
                        </div>
                        <div class="form-group">
                            <label for="">Currency</label>
                            <input type="text" class="form-control text-end">
                        </div>
                        <div class="form-group">
                            <label for="">Payment method</label>
                            <input type="text" class="form-control text-end">
                        </div>
                        <div class="form-group">
                            <label for="">Notes</label>
                            <input type="text" class="form-control text-end">
                        </div>


                    </div>

                    @*<div class="btn-group">
                    <button type="submit" >Print</button>
                    <button type="submit">Save</button>
                    </div>*@

                </div>
            </div>
            <div class="buttons">
                <div class="backBtn">
                    <i class="fa fa-arrow-alt-circle-right"></i>
                    <span class="btnText">Save</span>
                </div>

                <span class="submit">
                    <span class="submit">Print</span>
                    <i class="fa fa-arrow-alt-circle-right"></i>
                </span>
            </div>


        </form>

        <script>

            let rowCounter = 2; // Used to generate unique row IDs

            function addDetailRow() {
                const detailsTable = document.getElementById("itemDetailsTable").getElementsByTagName('tbody')[0];
                const newRow = itemDetailsTable.insertRow(); // Insert a new row at the end of the table
                const rowId = `row_${rowCounter}`;
                newRow.id = `row_${rowCounter}`; // Assign a unique ID to the new row

                const cell1 = newRow.insertCell(0); // Create and insert a cell for Detail 1
                const cell2 = newRow.insertCell(1); // Create and insert a cell for Detail 2
                const cell3 = newRow.insertCell(2); // Create and insert a cell for Detail 1
                const cell4 = newRow.insertCell(3); // Create and insert a cell for Detail 2
                const cell5 = newRow.insertCell(4); // Create and insert a cell for Detail 1
                const cell6 = newRow.insertCell(5); // Create and insert a cell for Detail 2
                const cell7 = newRow.insertCell(6); // Create and insert a cell for Detail 2
                const cell8 = newRow.insertCell(7); // Create and insert a cell for Detail 2
                const cell9 = newRow.insertCell(8); // Create and insert a cell for Detail 1
                const cell10 = newRow.insertCell(9); // Create and insert a cell for Detail 2
                const cell11 = newRow.insertCell(10); // Create and insert a cell for Detail 1
                const cell12 = newRow.insertCell(11); // Create and insert a cell for Detail 2
                const cell13 = newRow.insertCell(12); // Create and insert a cell for Detail 2
                const cell14 = newRow.insertCell(13); // Create and insert a cell for Detail 2

                // Customize the content of each cell based on user input or data
                cell1.innerHTML = `<input style="width:30px;" type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                const itemDropdown = document.createElement("select");
                itemDropdown.innerHTML = ` <select  class="itemNamePrefix"  onchange="fetchItemDetails('')">
                                                                <option value="">Select an Item Name</option>
                                                                @foreach (var item in ViewBag.items)
                                                                {
                                                                      <option value="@item">@item</option>
                                                                }
                                           </select> `;
                cell2.appendChild(itemDropdown);
                cell3.innerHTML = `<input style="width:90px;" type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}" class="amt-input"  >`;
                cell4.innerHTML = `<input style="width:80px;"  type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}" class="amt-input" >`;
                cell5.innerHTML = `<input style="width:70px;"  type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                cell6.innerHTML = `<input style="width:70px;"  type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                cell7.innerHTML = `<input style="width:40px;"  type="text" id="qty_${rowCounter}" name="detail1_${rowCounter}">`;
                cell8.innerHTML = `<input style="width:80px;"  type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                cell9.innerHTML = `<input style="width:80px;"  type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                cell10.innerHTML = `<input style="width:60px;" type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                cell11.innerHTML = `<input style="width:60px;" type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                cell12.innerHTML = `<input style="width:60px;" type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                cell13.innerHTML = `<input style="width:60px;"  type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                cell14.innerHTML = `<input style="width:80px;" type="text" id="detail1_${rowCounter}" name="detail1_${rowCounter}">`;
                const qtyInput = cell7.querySelector(`#qty_${rowCounter}`);
                qtyInput.addEventListener("input", function () {

                });

                rowCounter++;
            }

            function fetchItemDetails() {
                var itemName = document.getElementById("itemNamePrefix").value;
                var rowId = getLastRowId();
                //if (itemName){
                $.ajax({
                    url: '/Salereturn/GetItemDetails',
                    type: 'POST',
                    data: { itemNamePrefix: itemName },
                    success: function (data) {

                        var tableBody = document.getElementById("itemDetailsTable");

                        tableBody.innerHTML = '';
                        data.forEach(function (item) {

                            var row = `
                                            <tr>
                                                <td>${item.id}</td>
                                                <td>${item.itemNameId}</td>
                                                <td>${item.itemCodeId}</td>
                                                <td>${item.barcode}</td>
                                                <td>${item.batchId}</td>
                                                <td>${item.mrpId}</td>
                                                <td>${item.openingQuantity}</td>
                                                <td>${item.purchasePriceId}</td>
                                                <td>${item.salePriceId}</td>
                                                <td>${item.salesDiscount}</td>
                                                <td>${item.gstId}</td>
                                                <td>${item.cgst}</td>
                                                <td>${item.sgst}</td>
                                                <td>${item.openingQuantity * item.salePriceId}</td>
                                            </tr>`;

                            tableBody.innerHTML += row;

                        });
                        var rowToUpdate = document.getElementById("rowId");

                        if (rowToUpdate) {
                            // Update the cells in the selected row with the item details
                            rowToUpdate.innerHTML = '<td>' + data.id + '</td><td>' + data.itemNameId + '</td><td>' + data.mrpId + '</td><td>' + data.salePriceId + '</td><td>' + data.itemPackedDate + '</td><td>' + data.itemExpiryDate + '</td><td>' + data.openingQuantity + '</td><td> ' + data.totalAmount + ' </td>';
                        }

                    }

                });
            }

            function getLastRowId() {
                return `row_${rowCounter - 1}`;

            }

        </script>


    </div>

</body>


</html>







